@model CartIndexViewModel

<h2>Din Kundvagn</h2>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Antal</th>
            <th>Maträtt</th>
            <th class="text-right">Pris</th>
            <th class="text-right">Summa</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model.Cart.Lines)
        {
            <tr>
                <td class="text-center">@line.Quantity</td>
                <td class="text-left">@line.Dish.MatrattNamn</td>
                <td class="text-right">@line.Dish.Pris.ToString("c")</td>
                <td class="text-right">
                    @((line.Quantity * line.Dish.Pris).ToString("c"))
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right">Total:</td>
            <td class="text-right">
                @Model.Cart.ComputeTotalValue().ToString("c")
            </td>
        </tr>
    </tfoot>
</table>
<div class="text-center">
    <a class="btn btn-primary" href="@Model.ReturnUrl">Forsätt handla</a>
</div>